.js-flickity .flickity-slider {
    margin-top: 5px;
    margin-left: 8.33333333333333%;
}

.js-flickity .flickity-slider .slide {
    transition: transform 0.4s, left 0.4s, opacity 0.4s, z-index 0s;
    width: 125px;
    height: 200px;
    display: inline-block;
}

.js-flickity .flickity-slider .slide img {
    width: 110px;
    transition: width 0.4s;
    border-radius: 30px;
    cursor: pointer;
}

.js-flickity .flickity-slider .slide.is-selected img {
    width: 175px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px rgb(216, 216, 216);
}