.js-flickity .flickity-slider {
    margin-top: 5px;
    margin-left: 12.5%;
}

.js-flickity .flickity-slider .slide {
    transition: transform 0.4s, left 0.4s;
    width: 125px;
    height: 200px;
    display: inline-block;
}

.js-flickity .flickity-slider .slide span {
    font-size: 1.4em;
    position: absolute;
    top: 125px;
    left: 190px;
    width: max-content;
    transition: opacity 0.5s ease;
    transform: translate(9999px);
    opacity: 0;
}

.js-flickity .flickity-slider .slide.is-selected span {
    transform: translate(0);
    opacity: 1;
}

.js-flickity .flickity-slider .slide img {
    object-fit: cover;
    max-width: none;
    width: 110px;
    height: 110px;
    transition: width 0.4s, height 0.4s;
    border-radius: 30px;
    cursor: pointer;
}

.js-flickity .flickity-slider .slide.is-selected img {
    width: 175px;
    height: 175px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px rgb(216, 216, 216);
}