.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto auto auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
    ". . header header header header header header header header header header header header header header header header header header header header. ."
    "main main main main main main main main main main main main main main main main main main main main main main main main"
    ". . . footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer . . .";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-column-gap: 1px;
    grid-row-gap: 0;
    margin: 0 auto;
}

@media (min-width: 800px) {
    footer{
        margin: 0;
        grid-template-columns: 320px repeat(10, 1fr) 320px;
        grid-template-areas:
    "footer-left footer-middle footer-middle footer-middle footer-middle footer-middle footer-middle footer-middle footer-middle footer-middle footer-middle footer-right";
    }

    footer section.footer--left{
        grid-area: footer-left;
    }

    footer section.footer--middle{
        grid-area: footer-middle;
    }

    footer section.footer--right{
        grid-area: footer-right;
    }
}