body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    background-image: url(/assets/images/ps5-bg-low-res.png);
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.truncate {
    max-width: 100px;
}

.completed {
    background-color: rgba(52, 211, 153, 0.3) !important;
}

/** HEADER **/

header a.profile-pic {
    position: relative;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

header a.profile-pic img {
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
}

header a.profile-pic::before {
    content: '';
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-image: url(/assets/images/ps-plus.png);
    position: absolute;
    left: 35px;
    top: 32px;
    z-index: 1;
}

/** FOOTER **/

footer {
    opacity: 0;
    z-index: 0;
}

body.loaded footer {
    transition: opacity 0.5s ease;
}

footer.is-selected {
    opacity: 1;
    z-index: 1;
}

footer .cover img {
    height: 175px;
    object-fit: cover;
}

/** TROPHIES **/

.trophy {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: center top;
}

.trophy.trophy--small {
    background-size: auto 25px;
    height: 25px;
    width: 25px;
}

.trophy.trophy--bronze {
    background-image: url(/assets/images/trophies/trophy-bronze.png);
}

.trophy.trophy--silver {
    background-image: url(/assets/images/trophies/trophy-silver.png);
}

.trophy.trophy--gold {
    background-image: url(/assets/images/trophies/trophy-gold.png);
}

.trophy.trophy--platinum {
    background-image: url(/assets/images/trophies/trophy-platinum.png);
}

.trophy.trophy--level {
    background-image: url(/assets/images/trophies/trophy-level.png);
}

.rank {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    justify-content: center;
}

.rank.rank--s {
    background: rgba(101, 127, 178, 0.7);
}

.rank.rank--a {
    background: rgba(0, 128, 0, 0.7);
}

.rank.rank--b {
    background: rgba(123, 158, 0, 0.7);
}

.rank.rank--c {
    background: rgba(166, 142, 0, 0.7);
}

.rank.rank--d {
    background: rgba(166, 106, 0, 0.7);
}

.rank.rank--e {
    background: rgba(255, 65, 0, 0.7);
}

.rank.rank--f {
    background: rgba(238, 0, 0, 0.7);
}

/** CONTAINER WITH OPACITY **/

.container-opacity {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.container-opacity.container-opacity--light {
    background: rgba(255, 255, 255, 0.1);
}

.container-opacity.rounded-borders {
    border-radius: 5px;
}

.container-opacity.rounded-borders.heavy {
    border-radius: 50px;
}
