* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.font-weight-100 {
    font-weight: 100;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
    ". header header header header header header header header header header ."
    "main main main main main main main main main main main main";
}

header { grid-area: header; }
main { grid-area: main; }

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0;
}

header .left,
header .right {
    display: flex;
    align-items: center;
}

header a {
    color: #adadad;
    font-size: 2em;
    display: flex;
}

header .left a:nth-child(1) {
    color: #ffffff;
}

header .right .time {
    color: #ffffff;
    font-size: 2em;
    font-weight: 100;
}

header .right img.profile-pic {
    height: 50px;
    border-radius: 50px;
    margin-right: 20px;
}

