.js-flickity .flickity-slider {
    margin-top: 5px;
    margin-left: 12.5%;
}

.js-flickity .flickity-slider .slide {
    width: 125px;
    height: 200px;
    display: inline-block;
}

body.loaded .js-flickity .flickity-slider .slide {
    transition: transform 0.4s, left 0.4s;
}

.js-flickity .flickity-slider .slide span {
    font-size: 1.4em;
    position: absolute;
    top: 125px;
    left: 190px;
    width: max-content;
    opacity: 0;
}

body.loaded .js-flickity .flickity-slider .slide span {
    transition: opacity 0.5s ease;
}

.js-flickity .flickity-slider .slide.is-selected span {
    opacity: 1;
}

.js-flickity .flickity-slider .slide img {
    object-fit: cover;
    max-width: none;
    width: 110px;
    height: 110px;
    border-radius: 30px;
    cursor: pointer;
}

body.loaded .js-flickity .flickity-slider .slide img {
    transition: width 0.4s, height 0.4s, opacity 300ms;
}

.js-flickity .flickity-slider .slide.is-selected img {
    width: 175px;
    height: 175px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px rgb(216, 216, 216);
}

/** TRANSPARENT BACKGROUND **/
.js-flickity .flickity-slider .slide::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    z-index: -1;
}

body.loaded .js-flickity .flickity-slider .slide::before {
    transition: width 0.4s, height 0.4s;
}

.js-flickity .flickity-slider .slide.is-selected::before {
    width: 175px;
    height: 175px;
}